<cg>
  <!-- example for a non-bonded interaction entry -->
  <non-bonded>
    <name>AMD-SOL</name>
    <type1>AMD</type1>
    <type2>SOL</type2>
    <min>0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <!-- target distribution (rdf from long run aa md) -->
      <target>AMD-SOL.dist.tgt</target>
      <!-- update cycles -->
      <do_potential>1</do_potential>
      <!-- additional post processing of dU before added to potential -->
      <post_update></post_update>
      <!-- additional post processing of U after dU added to potential -->
      <post_add></post_add>
      <!-- name of the table for gromacs run -->
      <gromacs>
        <table>table_AMD_SOL.xvg</table>
      </gromacs>
    </inverse>
  </non-bonded>

  <non-bonded>
    <name>CAB-SOL</name>
    <type1>CAB</type1>
    <type2>SOL</type2>
    <min>0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <target>CAB-SOL.dist.tgt</target>
      <do_potential>1</do_potential>
      <post_update></post_update>
      <post_add></post_add>
      <gromacs>
        <table>table_CAB_SOL.xvg</table>
      </gromacs>
    </inverse>
  </non-bonded>

  <non-bonded>
    <name>COO-SOL</name>
    <type1>COO</type1>
    <type2>SOL</type2>
    <min>0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <target>COO-SOL.dist.tgt</target>
      <do_potential>1</do_potential>
      <post_update></post_update>
      <post_add></post_add>
      <gromacs>
        <table>table_COO_SOL.xvg</table>
      </gromacs>
    </inverse>
  </non-bonded>

  <non-bonded>
    <name>NH3-SOL</name>
    <type1>NH3</type1>
    <type2>SOL</type2>
    <min>0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <target>NH3-SOL.dist.tgt</target>
      <do_potential>1</do_potential>
      <post_update></post_update>
      <post_add></post_add>
      <gromacs>
        <table>table_NH3_SOL.xvg</table>
      </gromacs>
    </inverse>
  </non-bonded>

  <non-bonded>
    <name>PHE-SOL</name>
    <type1>PHE</type1>
    <type2>SOL</type2>
    <min>0</min>
    <max>1.0</max>
    <step>0.01</step>
    <inverse>
      <target>PHE-SOL.dist.tgt</target>
      <do_potential>1</do_potential>
      <post_update></post_update>
      <post_add></post_add>
      <gromacs>
        <table>table_PHE_SOL.xvg</table>
      </gromacs>
    </inverse>
  </non-bonded>


  <!-- general options for inverse script -->
  <inverse>
    <!-- 300*0.00831451 gromacs units -->
    <kBT>2.49435</kBT>
    <!-- use gromacs as simulation program -->
    <program>gromacs</program>
    <!-- gromacs specific options -->
    <gromacs>
      <!-- trash so many frames at the beginning -->
      <equi_time>20</equi_time>
      <!-- grid for table*.xvg !-->
      <table_bins>0.002</table_bins>
      <!-- cut the potential at this value (gromacs bug) -->
      <pot_max>1000000</pot_max>
      <!-- extend the tables to this value -->
      <table_end>2.5</table_end>
      <mdrun>
       <command>
         mpirun -np 64 gmx_mpi mdrun
      	</command>
        <opts>
		-v -tableb
                table_b1.xvg table_b2.xvg table_b3.xvg table_b4.xvg table_b5.xvg
                table_b6.xvg table_b7.xvg table_b8.xvg table_b9.xvg table_a21.xvg
                table_a22.xvg table_a23.xvg table_a24.xvg table_a25.xvg table_a26.xvg
                table_a27.xvg table_a28.xvg table_a29.xvg table_a30.xvg table_a31.xvg
	</opts>
      </mdrun>
       <grompp>
      <bin>
     	 mpirun -np 1 gmx_mpi grompp
      </bin>
   </grompp>
      <rdf>
        <topol>topol.tpr</topol>
      </rdf>
    </gromacs>

    <simulation>
      <tasks>
        1
      </tasks>
    </simulation>
    <!-- these files are copied for each new run -->
    <filelist>
	grompp.mdp topol.top table.xvg index.ndx table_SOL_SOL.xvg
                table_b1.xvg table_b2.xvg table_b3.xvg table_b4.xvg table_b5.xvg
                table_b6.xvg table_b7.xvg table_b8.xvg table_b9.xvg table_a21.xvg
                table_a22.xvg table_a23.xvg table_a24.xvg table_a25.xvg table_a26.xvg
                table_a27.xvg table_a28.xvg table_a29.xvg table_a30.xvg table_a31.xvg
		table_AMD_AMD.xvg table_CAB_CAB.xvg table_CAB_NH3.xvg table_COO_COO.xvg
		table_NH3_COO.xvg table_PHE_AMD.xvg table_PHE_COO.xvg table_PHE_PHE.xvg
		table_CAB_AMD.xvg table_CAB_COO.xvg table_COO_AMD.xvg table_NH3_AMD.xvg
		table_NH3_NH3.xvg table_PHE_CAB.xvg table_PHE_NH3.xvg
    </filelist>
    <!-- do so many iterations -->
    <iterations_max>150</iterations_max>
    <!-- ibi: iterative boltzmann inversion -->
    <method>ibi</method>
    <!-- directory for user scripts -->
    <scriptpath></scriptpath>
    <!-- write log to this file -->
    <log_file>inverse.log</log_file>
    <!-- write restart step to this file -->
    <restart_file>restart_points.log</restart_file>
  </inverse>

</cg>
